@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.pie-pagina {
  width: 100%;
  background-color: #f590a1;
}

.footer-nav-menu {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 0.95rem;
}

.footer-nav-menu li {
  margin-right: 10px;
}

.footer-nav-menu li a {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  font-weight: 600;
  transition: 0.5s;
}

.footer-nav-menu li a:hover {
  color: #fff;
}

.grupo-1 {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px 0px;
  text-align: center;
}

.grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grupo-1 .box figure img {
  width: 250px;
}

.grupo-1 .box h2 {
  color: black;
  margin-bottom: 10px;
  font-size: 20px;
}

.grupo-1 .box p {
  color: rgb(59, 59, 59);
  margin-bottom: 5px;
}

.grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #712f3a;
  text-align: center;
  border-radius: 50px;
  transition: all 300ms ease;
}

.grupo-1 .red-social a:hover {
  color: #f590a1;
}

.grupo-2 {
  background-color: black;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.grupo-2 small {
  font-size: 15px;
}

@media only screen and (max-width: 970px) {
  .grupo-1 {
    grid-template-columns: 1fr;
  }

  .grupo-1 .box figure img {
    width: 150px;
  }

  .grupo-1 .box h2 {
    font-size: 16px;
    text-align: center;
  }

  .grupo-1 .box p {
    text-align: center;
  }

  .grupo-1 .red-social a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }

  .grupo-1 .box .red-social {
    margin-top: 3%;
  }

  .grupo-2 small {
    font-size: 13px;
  }
}
