@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ::::::::::::frase::::::::::::*/

.phrase-container {
  background: #b34f60;
  padding: 15px 9%;
  padding-bottom: 100px;
}

.phrase-container .group-1 {
  text-align: center;
  padding-bottom: 15px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 45px;
}

.phrase-container .group-1 .quote image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* centra los elementos del contenido horizontalmente*/
  align-items: center; /* centra los elementos del contenido verticalmente*/
  padding-bottom: 20px;
}

.phrase-container .group-1 .image {
  display: grid;
  place-items: center;
  padding: 50px;
}

.phrase-container .group-1 .image img {
  width: 100%; /* es para que la imagen ocupe el 100% y no esté cortada*/
  aspect-ratio: 55/4; /* es para que la imagen se achique */
  object-position: center;
  object-fit: contain; /* es para ver como queremos que se vea la imagen */
}

.phrase-container .group-1 .text p {
  color: white;
  margin-bottom: 10px; /* margen inferior*/
  font-size: 2rem;
  text-transform: none;
  
}

.text .author {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: none;
}


@media screen and (max-width: 970px) {
  .phrase-container {
    padding: 15px 5%;
    padding-bottom: 50px;
  }

  .phrase-container .group-1 {
    font-size: 30px;
  }

  .phrase-container .group-1 .image img {
    width: 100%; /* es para que la imagen ocupe el 100% y no esté cortada*/
    aspect-ratio: 55/9; /* es para que la imagen se achique */
    object-position: center;
    object-fit: contain; /* es para ver como queremos que se vea la imagen */
  }

  .phrase-container .group-1 .quote image {
    padding-bottom: 20px;
  }

  .phrase-container .group-1 .image {
    padding: 30px;
  }

  .phrase-container .group-1 .text p {
    font-size: 1.2rem !important;
  }
  .text .author {
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: none;
  }
}
