@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f68396;
  --primary-color-dark: #f68396;
  --primary-color-light: #f2e5e7;
  --secondary-color: #f75f79;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #fff3f5;
  --max-width: 1200px;
}

body {
  background-color: #f8e5e8;
  font-family: "Poppins", sans-serif;
}

section {
  display: block;
}

a {
  text-decoration: none;
}

.action_contact:hover {
  background-color: var(--primary-color);
  color: var(--extra-light);
  border-radius: 15px;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.logo span {
  color: #f68396;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: 1440px;
  /*max-width: var(--max-width);*/
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-dark);
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.title {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__button {
  display: flex;
  gap: 1rem;
}

.action__button a.lo_que_hago {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--primary-color);
  color: #ffffff;
  position: relative;
}

.action__button a.lo_que_hago:hover {
  background-color: var(--primary-color-dark);
  cursor: pointer;
  color: #ffffff; /* Set the text color when hovered */
  background-image: linear-gradient(90deg, #c60505 0%, #f75f79 49%, #F68396 80%, #c60505 100%);
  animation: slidebg 3s linear infinite;
}



.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  /*border-radius: 100%;*/
}

.contac {
  background-color: #ffd1d9;
  border-radius: 20px;
  color: black;
}

.contact :hover {
  color: rgb(252, 170, 170);
  background-color: #f68396;
}

@media (max-width: 970px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .section__container .content {
    margin: auto;
    display: flex;
    gap: 20;
  }

  .section__container .content .title {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .section__container .content .subtitle {
    font-size: 1rem;
    padding: auto;
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__button {
    margin: auto;
  }

  .action__button .lo_que_hago {
    padding: 0.5rem 0.3rem;
    font-size: 0.8rem;
  }
}
