@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  font-family: "Poppins", sans-serif;
}

:root {
    --primary-color:  #F68396;
    --primary-color-dark:  #F68396;
    --secondary-color:  #f75f79;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light:  #fff3f5;
    --max-width: 1200px;
  }
  
.container {
    background:  #f4bcc5;
    padding: 15px 9%;
    padding-bottom: 100px;
    
}

.container .title_container {
    text-align: center;
    padding-bottom: 15px;
    color: black;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 45px;
}

.container .paragraph {
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin: auto;
    width: 40%;
    padding: 40px 10px;
    color: var(--text-dark)
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    width: 80%;
    margin: auto;
    justify-content: center;

}

.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .box img {
    height: 100px;
}

.container .box-container .box h3 {
    color: #444;
    font-size: 22px;
    padding: 10px 0;
    line-height: 1.8;
  
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media screen and (max-width: 800px) {
    .container {
        padding: 20px;
     }
}

