@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  font-family: "Poppins", sans-serif;
}

.container {
    background:  #f4bcc5;
    padding: 15px 9%;
    padding-bottom: 100px;
    
}

.container .title_container {
    text-align: center;
    padding-bottom: 15px;
    color: black;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 45px;
}

.container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    width: 80%;
    margin: auto;
    justify-content: center;

}

.container .card-container .card {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.container .card-container .card img {
    height: 150px;
}

.container .card-container .card h3 {
    color: grey;
    font-size: 16px;
    padding: 10px 0;
    line-height: 1.8;
    margin: 40px 0px 16px;
  
}

.container .card-container .card:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media screen and (max-width: 800px) {
    .container {
        padding: 20px;
     }
}
